@model List<MVC_StokTakip.Models.Entity.Sepet>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@User.Identity.Name</h2>
<h3>Sepetim</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            
           
            <th>Ürün Bilgisi</th>
            <th>Birim Fiyatı</th>
            <th>Mikarı</th>
            <th>Tarih</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
             
               
                <th>@item.Urunler.Kategoriler.Kategori @item.Urunler.Markalar.Marka@item.Urunler.BarkodNo-@item.Urunler.UrunAdi</th>
                <th>@item.BirimFiyati</th>
                <th>@item.Miktari</th>
                <th>@item.ToplamFiyati</th>
                <th>@item.Tarih.ToString("dd.MM.yy")</th>
               
            </tr>
        }
    </tbody>
</table>
